
<div class="container">
  <div class="bg-page">
    <div class="bg-img">

      <div >
        <img  class="imgStyles" src = '../../assets/images/Kairos_Logo_new.png'>
         <h3 class="hea-change">Roadmap Generator for Digital Transformation</h3>
      </div>

      <div>
        <mat-card class="example-card">

         <div>
            <p class="hea-change1">Hi there, {{greet}}. Thank you for accessing KairosD.</p>
            <p class="hea-change1"> Please give us a little detail about you and answer a few questions to get a high-level roadmap for your digital transformation.</p>
            <span *ngIf="device === 'Mobile'"><p class="hea-change1">Great that you are digitally experiencing this assessment from your mobile!</p></span>
          </div>

          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div>
              <div class="bg-text">
                <mat-form-field class="example-full-width">
                  <mat-placeholder class="placeStyles">Full Name<span style="color: red;">*</span></mat-placeholder>
                  <input matInput formControlName="name" >
                </mat-form-field>
                  <div class="alert"
                       *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)">Please enter Full Name
                  </div>
              </div>

              <div class="bg-text">
                <mat-form-field class="example-full-width">
                  <mat-placeholder class="placeStyles">Email<span style="color: red;">*</span></mat-placeholder>
                <input matInput  formControlName="email">
                </mat-form-field>
                <div class="alert"
                     *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)"> Please enter corporate Email ID
                </div>
                <p> Please provide us your <strong>official/corporate e-mail ID </strong>where you want to receive the report.</p>
              </div>

              <div class="row bg-text">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-placeholder class="placeStyles">Company Name</mat-placeholder>
                    <input matInput formControlName="company" pattern="[A-Za-z0-9.\s_-]+">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-placeholder class="placeStyles">Designation</mat-placeholder>
                    <input matInput formControlName="designation" pattern="[A-Za-z.\s_-]+">
                  </mat-form-field>
                </div>
               </div>

              <div >
                <input type="button" class="btn btn-info" value="SIGN UP" (click)="onSubmit()" [disabled]="((!registerForm.controls['email'].valid) || (!registerForm.controls['name'].valid))">
              </div>

            </div>
          </form>
        </mat-card>
      </div>

    </div>
  </div>
</div>
