.bg-page {
  margin: 20px;
  font-family: Roboto !important;
}
.bg-img{
  background-image: url("../../assets/images/Kairos_Digital_Transformation_Assessment_Tool_Screen2.jpg");
  width:100%;
  background-repeat:no-repeat;
  background-size:cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}
.example-card {

  max-width: 750px;
  padding: 2.3em;
  width: 80%;
  margin: 1em auto;
  background: #ffffffe6;
  margin-top: 3em;
  border-bottom: 5px solid #0A6EB7;
}
.example-full-width {
  width: 100%;
}
.alert {
  animation: 2s alertAnim forwards;
  font-size: 12px;
  position: relative;
  padding: 0.05rem 0rem;
  border: 1px solid transparent;
  color: red;
  margin: 0px;
  margin-top: -15px;
}
.tog-sty{
  margin-top: 5px;
}
.bg-p{
  font-size: 14px;
}
.btn-info {
  margin-top: 1rem;
  background-color: #0A6EB7;
  border-color: #0A6EB7;
}
::-webkit-scrollbar {
  -ms-overflow-style:none;
  overflow:scroll;
}
.mat-form-field-ripple {
  background-color: #0A6EB7 !important;;
}
.mat-form-field-label-wrapper{
  font-weight: 500!important;
  color:#000!important;
}
:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #0A6EB7;
}
:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #ffffff;
}
html {
  -ms-overflow-style: none;
}
.mat-form-field-ripple {
  background-color: #0A6EB7 !important;;
}
.hea-change{
  text-align: center;
  color: lavender;
}
/*.paraStyles{*/
/*  font-size: 12px;*/
/*  margin-top: -5px;*/
/*}*/


/*a {*/
/*  margin: 1em 2em;*/
/*  float: right;*/
/*  color: #ffff;*/
/*}*/

@media(min-width:320px) and (max-width:599px) {
  .example-card {
    width: 87%;
    margin-top: 20px;
  }
  .imgStyles {
    width: 120px;
  }
  .bg-text {
    font-size: 10px;
  }
  .bg-p{
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 12px;
  }
  .bg-img{
    background-image: url("../../assets/images/Kairos_Digital_Transformation_Assessment_Tool_Screen2_Mobile.jpg");
    overflow: scroll;
  }
  .hea-change{
    margin-top: 10px;
    font-size: 22px;
  }
}

@media(min-width:600px) and (max-width: 1023px)  {
  .example-card {
    width: 87%;
    margin-top: 1em;
    overflow: scroll;
  }
  .bg-p{
    margin-top: 0;
    font-size: 14px;
  }
  .bg-img{
    background-position: right;
    overflow: scroll
  }
  .alert {
    font-size: 14px;
  }
  .hea-change{
    font-size: 24px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .example-card {
    width: 90%;
    margin-top: 1em;
  }
  .bg-p{
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 16px;
  }
  .bg-img{
    overflow: scroll;
    background-position: center;
  }
  .alert {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .hea-change{
    margin-top: 20px;
    font-size: 26px;
  }
}

